<div class="filter">
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <div class="select-container">
      <div>
        <label for="sort_By">SortBy</label>
        <select
          class="form-select mb-2"
          aria-label="Default select example"
          id="sort_By"
          formControlName="sort_By"
        >
          <option value="price">price</option>
          <option value="rating">rating</option>
          <option value="price">price</option>
          <option value="title">title</option>
          <option value="issue_date">issue_date</option>
        </select>
        @if (
          (controls.sort_By.dirty || controls.sort_Direction.dirty) &&
          filterForm.errors?.["sortControl"]
        ) {
          <div class="mt-1 text-danger">
            {{ filterForm.errors?.["sortControl"] }}
          </div>
        }
      </div>
      <div>
        <label for="direction">Direction</label>
        <select
          class="form-select mb-2"
          aria-label="Default select example"
          id="direction"
          formControlName="sort_Direction"
        >
          <option value="asc">asc</option>
          <option value="desc">desc</option>
        </select>
      </div>
      @if (
        (controls.sort_By.dirty || controls.sort_Direction.dirty) &&
        filterForm.errors?.["sortControl"]
      ) {
        <div class="mt-1 text-danger">
          {{ filterForm.errors?.["sortControl"] }}
        </div>
      }
      <!-- price range -->
      <div class="wrapper">
        <div class="price-input">
          <div class="field">
            <input
              formControlName="minPrice"
              type="number"
              class="input-min"
              value="0"
            />
          </div>

          <div class="field">
            <input
              formControlName="maxPrice"
              type="number"
              class="input-max"
              value="10000"
            />
          </div>
        </div>
        <div class="slider">
          <div class="progress"></div>
        </div>
        <div class="range-input">
          <input
            formControlName="minPrice"
            type="range"
            class="range-min"
            min="0"
            max="10000"
            value="0"
          />
          <input
            formControlName="maxPrice"
            type="range"
            class="range-max"
            min="0"
            max="10000"
            value="10000"
          />
        </div>
      </div>
      <!-- end of price range -->
    </div>
    <!-- <button
      type="submit"
      [disabled]="filterForm.invalid"
      class="btn btn-secondary mt-2"
    >
      Submit
    </button> -->
  </form>
  <div class="mt-2">
    <form [formGroup]="filterForm">
      <label for="keywords">Search</label>
      <input
        class="form-control mb-2"
        type="text"
        id="keywords"
        formControlName="keywords"
      />
    </form>
  </div>
</div>
<div class="products-grid">
  @if (products$.value.length !== 0) {
    @for (product of products$ | async; track product._id) {
      <app-product-card
        [product]="product"
        (addToCart)="onAddToCart($event)"
      ></app-product-card>
    }
  } @else {
    <h1>პროდუქტი ვერ მოიძებნა</h1>
  }
</div>
